.status-type.created {
    color: #afdee9;
    background: #3b646d;
} 
  
.status-type.active {
    color: #6e674e;
    background: #faebb3;
}

.status-type.completed {
    color: #906a64;
    background: #ffded9;
}


.status-type.deleted {
    color: #565656;
    background: #3e4d74;
}

.margin_left_581{
    margin-left:432px;
}


.wd_17{
    width:17px;
}
